<h2>Welcome to your Site Stash</h2>
<br><br>
<h1>Search for Links:</h1>
<form action="/search" method="GET">
  <input type="text" name="search">
  <input type="submit" value="search">
</form>

<ul class = "spacing">
  <li>View a list of your saved links <a href="/links">here.</a></li><br><br>
  <li>View your links by category <a href="/categories">here.</a></li><br><br>
  <li>Add a new link entry <a href="/links/new">here.</a></li><br><br>
</ul><br>

<a href="/logout">Log Out</a>

