<h2>Welcome to your personal Site Stash</h2>

<ul class = "spacing">
  <li><a href="/links">View your saved links</a></li>
  <li><a href="/categories">View your links by category</a></li>
  <li><a href="/links/new">Add a new link entry</a></li>
</ul><br>

<a href="/logout">Log Out</a>