<h2>Edit Link Details</h2>
<form method="POST" action="/links/<%= @link.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Link:</label>
  <input type="text" id="link_name" name="link[name]" value="<%= @link.name %>"><br><br>
  <label>Description:</label><br>
  <textarea rows="5" cols="80" id="description" name="link[description]"><%= @link.description %></textarea><br><br>
  <label>Edit your link's Category:</label><br>
  <input type="text" name="category[title]" id="category_title"></input><br><br>
  
  <input type="submit" value="Update">
</form><br>

<a href="/home">Home</a> |        
<a href="/logout">Log Out</a>

