<h2>Link List</h2>
<ul class = "spacing">
  <% @links.each do |link| %>
    <li><a href="/links/<%= link.id %>"><%= link.name %></a></li>
  <% end %>
</ul><br>

<% if @links.empty? %>
  <p>You currently do not have any links saved.</p>
  <a href="/links/new">Add New Link Entry</a>
<% end %><br>


<a href="/home">Home</a> |       
<a href="/logout">Log Out</a>