<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>


<h2>Link List</h2>
<ul class = "spacing">

  <h3>Your Links:</h3>
  <% @links.each do |link| %>
    <li><a href="/links/<%= link.id %>"><%= link.name %></a></li>
  <% end %>
</ul><br>

<% if @links.empty? %>
  <p>You currently do not have any links saved!</p></bold>
  <p> Add a new link entry by clicking<a href="/links/new"> here</a>.</p>
<% end %><br><br>

  <li>To check out your links by category click <a href="/categories"> here.</a></li>
  <li>To add another link click <a href="/links/new"> here.</a></li><br><br>


<a href="/home">Home</a> |       
<a href="/logout">Log Out</a>