<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<h2>New Link</h2>
<form method="post" action="/links">
  <label>Paste Link:</label>
  <input type="text" id="link_name" name="link_name"><br><br>
  <label>Description (optional):</label><br>
  <textarea rows="10" cols="80" id="description" name="link_description"></textarea><br><br>  
  
  <h3>Category</h3><br>
  <label>Assign your link to a category!</label><br><br>
  <label>Category:</label>
  <input type="text" name="category_name" id="category_name"></input><br><br>
  <input type="submit" value="Add">
</form><br>

<a href="/home">Home</a> |        
<a href="/logout">Log Out</a>