<h1>Edit <%= @category.title %></h1>

<form action="/categories/<%=@category.id %>" method="POST">
  <label> Category Name </label>
  <input type="text" name="title" value="<%=@category.title %>"> </br>

  <input type="submit" value="Update">
</form><br>

<a href="/home">Home</a> |       
<a href="/logout">Log out</a>