<h1>Edit Category</h1>

<form action="/categories/<%=@category.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

<label> Category Name </label>

<input type="text" name="name" id="form-name" value="<%=@category.name %>"> </br>
<input type="submit" value="Update">
</form><br>

<a href="/home">Home</a> |       
<a href="/logout">Log out</a>
