<div class="center">
  <h1>Link Collector</h1>
  <h3>Stay organized by storing and categorizing your browsing links all in one place!</h3>
  <h4><a href="/signup">Join</a> or <a href="/login">Log in</a></h4><br>
</div>