<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<div class="container">
  <header><img src="http://www.elmwood-inf.croydon.sch.uk/wp-content/uploads/internetlinks.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Site Stash</h2>

    <div class="content">
      <p>Stay organized by storing and categorizing your browsing links all in one place!</p>
      <h5>To get started please <a href="/login">Log In</a> or <a href="/signup">Sign Up</a></h5><br>
    </div>
  </div>
</div>


