<div class="container">
  <header><img src="https://i0.wp.com/www.elmwood-inf.croydon.sch.uk/wp-content/uploads/internetlinks.png?fit=512%2C242" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Link Collector</h2>

    <div class="content">
      <p>Stay organized by storing and categorizing your browsing links all in one place!</p>
      <p> To get started please <a>Log In</a> or <a>Sign Up</a></p>
    </div>

  

  </div>
</div>

