<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<div class="container">
<div class="col-md-8 col-md-offset-2">
 
  <style>
      .img-container {
        text-align: center;
      }
  </style>
  </head>
  <body>
    <div class="img-container"> 
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-607R08TF91Ptle1LiCZSREDsp7myEYdlnga-FwF1UGFMyYcq" alt="img">
    </div>
  </body>   
    
    <center><h1>Welcome to Site Stash</h1></center>

    <div class= "container">
      <p>Stay organized by storing and categorizing your browsing links all in one place!</p>
    </div>
 
    <center><div class="btn-group">
      <form action="/login" method=get>
      <input type="submit" class="button" value="Login"/>
      </form>
    <class="btn-group">
      <form action="/signup" method=get>
      <input type="submit" class="button" value="Sign Up"/>
      </form>
   </div></center>
  </div>
