<div class="flash center">
  <% if flash.has?(:field_error) %>
    <h3 style="color:red;"><%= flash[:field_error] %></h3>
  <% end %>
</div>

<div class="container">

  <div class="col-md-8 col-md-offset-2">
 
 
 <style>
      .img-container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="img-container"> <!-- Block parent element -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-607R08TF91Ptle1LiCZSREDsp7myEYdlnga-FwF1UGFMyYcq" alt="img">
    </div>
  </body>   
    
    <h1>Welcome to Site Stash</h1>

    <div class="content">
      <p>Stay organized by storing and categorizing your browsing links all in one place!</p>
      <h3>To get started please
      <!--<a href="/login">Log In</a> or <a href="/signup">Sign Up</a></h3><br>-->
    </div>
  </div>
</div>
 <div class="btn-group">
    <form action="/login" method=get>
    <input type="submit" class="button" value="Login"/>
    </form>
  </div>
  <div class="btn-group">
    <form action="/signup" method=get>
    <input type="submit" class="button" value="Sign Up"/>
    </form>
  </div>
  </div>


